<table width="100%" class="non-printable-element">
    <tr>
        <td width="25%"><img src="Images/FL_Logo.png" /></td>
        <td width="50%" style="align-content: center; text-align: center">
            <label style="font-family: Arial; font-size:x-large">
                Training Questionnaire
            </label>
        </td>
        <td style="width:25%; font-size: small; text-align: right;">
            User:  @(ApplicationState?.LoggedOnUser?.UserName ?? ApplicationState?.LoggedOnUser?.LoginID)
        </td>
    </tr>
</table>