@if (_performanceReviewMode == false)
{
    <div class="top-row ps-3 navbar navbar-dark" style="background-color: black">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Training</a>
        </div>
    </div>
}

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()" style="background-color: black; height: 1000px;">

    @if (_performanceReviewMode == false)
    {
        <div class="nav-item px-1">
            <NavLink class="Dashboard-nav-link" href="TrainingQuestionnaireUser">
                Training Questionnaire
            </NavLink>
        </div>

        @if (IsTrainingQuestionnaire_Administrator() == true)
        {
            <div class="nav-item px-1">
                <NavLink class="Dashboard-nav-link" href="TrainingQuestionnaireAdministrator">
                    Create Training Questionnaire and Answer Key
                </NavLink>
            </div>

            <div class="nav-item px-1">
                <NavLink class="Dashboard-nav-link" href="TrainingQuestionnaireAudience">
                    Audience
                </NavLink>
            </div>

            <div class="nav-item px-1">
                <NavLink class="Dashboard-nav-link" href="Reports">
                    Reports
                </NavLink>
            </div>
        }
    }

    @if (IsTester() == true)
    {
        <div class="nav-item px-1">
            <NavLink class="Dashboard-nav-link" href="ImpersonationScreen">
                <br />
                Impersonation Screen<br />
                <span style="color: yellow;">** TESTERS ONLY **</span>
            </NavLink>
        </div>
    }

    <!-- Performance Review Administrators ARE THOSE WHO ARE ABOVE MANAGERS WHO CHANGE THE REVIEW STATUSES FROM "In Review" TO "SUBMITTED." -->
    <!-- Performance Review Super Administrators ARE THOSE WHO CAN ACCESS THE Performance Review Administrator Page. -->
    <!-- WE REGRET THE CONFUSING TERMINOLOGY. -->

    @if
        (
            IsTester() == true || IsManager() == true ||
            (
                ApplicationState != null && ApplicationState.LoggedOnUser != null &&
                (
                    ApplicationState.LoggedOnUser.IsPerformanceReviewAdministrator == true || ApplicationState.LoggedOnUser.IsPerformanceReviewSuperAdministrator == true
                )
            )
        )
    {
        <div class="top-row ps-3 navbar navbar-dark" style="background-color: black">
            <div class="container-fluid">
                <a class="navbar-brand" href="">Performance Review</a>
            </div>
        </div>
        <NavLink class="Dashboard-nav-link" href="PerformanceReview" @onclick="SetPerformanceViewModeToTrue">
            Performance Review
        </NavLink>
    }

    @if (ApplicationState != null && ApplicationState.LoggedOnUser != null && ApplicationState.LoggedOnUser.IsPerformanceReviewSuperAdministrator  == true)
    {
        <div class="nav-item px-1">
            <NavLink class="Dashboard-nav-link" href="PerformanceReviewAdministratorPage" @onclick="SetPerformanceViewModeToTrue">
                Performance Review Administrator Page
            </NavLink>
        </div>
    }
</div>

<style>
    .WSD_Header {
        color: white;
        padding-left: 10px;
    }

    .WSD_LinkSmallerText {
        font-size: smaller;
    }

    .Dashboard-nav-link {
        display: block;
        color: lightblue;
        padding: 0.5rem 1rem;
        text-decoration: none;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    }

        .Dashboard-nav-link:hover {
            background-color: lightblue; /*#0a58ca;  #0d6efd; /*blue;*/
            color: black;
        }

    /* 6c757d is the muddy gray color, may also be called bs-gray, bs-secondard */
</style>

